<app-header></app-header>

<div class="container mt-4 bg-primary p-3">
  <div *ngIf="!isLoading" class="row">
    <div class="col-md-8 col-sm-12">
      <app-map
        [ChargeDevices]="ChargeDevices"
        [lat]="lat"
        [lng]="lng"
        [zoom]="zoom"></app-map>
    </div>
    <div class="col-md-4 text-center">

      <app-zoom (zoomChange)='zoomMap($event)'></app-zoom>
      <app-connector-filter
          [types]="types"
          (typeChanged)="filter($event)">
        </app-connector-filter>
      <app-geo-location-form (geoChange)="updateGeo($event)"></app-geo-location-form>
    </div>
  </div>
  <div *ngIf="isLoading" id="map-spinner">
    <app-spinner ></app-spinner>
  </div>
</div>

