agm-map {
  height: 400px;
  margin-bottom: 10px;
}

.zoomIn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.zoomOut {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.info-window {
  width: 400px;
  padding: 5px;
  line-height: 15px;
}
